[Unit]
Description=Command Queue Service
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
ExecStart=/usr/bin/uncron
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=root
Group=
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

