[Unit]
Description=Command Queue Service
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
EnvironmentFile=/etc/sysconfig/uncron
ExecStart=/usr/sbin/uncron
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=khagen
Group=maintainers
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

